<!DOCTYPE html>
<html>
	<head>
		<title> All Cars – CMS </title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="bg-white min-h-screen">
		<div>
	
		<div class="bg-gray-50 p-6 flex justify-between">
				<div>
				👋 Welcome, <span th:text="${user.firstName}"/>!
			</div>
			<div class="flex space-x-4 items-center">
				<a th:href="@{/bookings?userID={id}(id=${user.id})}" class="text-xs text-gray-600"> View All Bookings </a> 
				<a th:href="@{/}" class="text-xs text-gray-600"> Logout </a> 
			</div>
		</div>
			
	
		<div class="p-16">
		<h1 class="text-xl font-bold"> We have a range cars for you to choose from: </h1>
		 <table border="1" class="mt-4 table-auto w-full">
            <thead>
                <tr class="text-left">
                    <th class="uppercase bg-gray-50 text-gray-500 p-3">Car Name</th>
                    <th class="uppercase bg-gray-50 text-gray-500 p-3">Car Color</th>
                    <th class="uppercase bg-gray-50 text-gray-500 p-3">Cost Per Day</th>
                    <th class="uppercase bg-gray-50 text-gray-500 p-3"> Action </th>
                </tr>
            </thead>
            <tbody class="pt-3">
                <tr class="pt-3 border" th:each="car : ${listOfCars}">
                    <td class="px-3" th:text="${car.carName}"></td>
                    <td th:text="${car.carColor}"></td>
                    <td th:text="${car.costPerDay}"></td>
                     <td class="p-4"> 
                     	<a class="bg-blue-500 text-white px-3 py-2 text-sm rounded" th:href="@{/cars/{id}(id=${car.carID},userID=${user.id})}">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
		</div>
		</div>
	</body>
</html>