<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1> This is All Bookings Page </h1>
		
		 <table border="1" class="">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th> Cost </th>
                    <th> Status </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="booking : ${listOfBookings}">
                    <td th:text="${booking.bookingID}"></td>
                    <td th:text="${booking.startDate}"></td>
                    <td th:text="${booking.endDate}"></td>
                    <td th:text="${booking.status}"></td>
                     <td th:text="${booking.cost}"></td>
                     <td> <a th:href="@{/bookings/{id}(id=${booking.bookingID}, userID=${user.id})}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
		<button>
		<a th:href="@{/cars?userID={userID}(userID=${user.id})}">
		Create a new booking
		</a>
		</button>
	</body>
</html>